作品集素材/
.DS_Store
.git/
*.psd
*.ai
*.eps
高清.pdf

weiyiq素材/录屏2026-05-28 15.19.45.mov
weiyiq素材/科幻大会/2.psd
大运会/1-VI标准素材/VI 4 媒体工作间吊旗/0215-KV使用修正-工作间-su2018.skp
大运会/1-VI标准素材/矢量 新闻发布厅/银杏厅立面1.psd
大运会/清单及素材/0328 VI标准素材新/【终】《视觉标准手册》高清.pdf
大运会/大运会/17-手册3.11 (1).cdr
大运会/大运会/思源.rar
